<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <a href="/" class="navbar-brand"><img src="/img/stratfor-logo.png" alt="Stratfor logo"> Strat<span>for</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto d-flex align-items-center">
        <a class="nav-link" href="/users">Users</a>
        <a class="nav-link" href="/register">Register</a>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/logout">Logout</a>
      </div>
    </div>
  </div>
</nav>