<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head") %>
</head>
<body>

  <section class="page-404">
    <div class="container">

      <div class="message-404 p-3 my-5 text-center">
        <h2>Error 404</h2>
        <p class="mt-2">This page does not exist or was not found...</p>
        <a href="/users" class="btn btn-primary mt-3">Back to Stratfor</a>
      </div>

    </div>
  </section>

  <%- include("partials/scripts") %>
</body>
</html>